.Button {
  cursor: pointer;
  color: var(--primary-color);
  display: flex;
  align-items: center;
}

.clear,
.clear_inverted {
  padding: 0;
  border: none;
  background: none;
  outline: none;
}

.clear_inverted {
  color: var(--primary-inv-color);
}

.outline {
  padding: 5px 15px;
  border: 1px solid var(--primary-color);
  border-radius: var(--r-section);
  color: var(--primary-color);
  background: none;
  letter-spacing: 0.2px;
}

.square {
  padding: 0;
}

.square.size_m {
  width: var(--font-line-m);
  height: var(--font-line-m);
  font: var(--font-m);
}

.square.size_l {
  width: var(--font-line-ls);
  height: var(--font-line-ls);
  font: var(--font-l);
}

.square.size_xl {
  width: var(--font-line-xl);
  height: var(--font-line-xl);
  font: var(--font-xl);
}

.size_m {
  font: var(--font-m);
}

.size_l {
  font: var(--font-l);
}

.size_xl {
  font: var(--font-xl);
}
