.Sidebar {
  height: calc(100vh - var(--navbar-height));
  width: var(--sidebar-width);
  background-color: var(--secondary-bg-color);
  position: relative;
  transition: width 0.3s ease-out;
}

.links {
  margin-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 95px;
}

.switchers {
  width: 100%;
  position: absolute;
  bottom: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.link {
  display: block;
  transition: all linear 0.3s;
}

.collapsed {
  width: var(--sidebar-width-collapsed);

  .switchers {
    flex-direction: column;
  }

  .links {
    margin-left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
  }

  .link {
    display: none;
  }
}

.collapsedBtn {
  background-color: var(--secondary-bg-color);
  position: absolute;
  right: -30px;
  bottom: 40px;
  padding: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: var(--r-section);
}
